body {
    background-color: black;
    text-align: center;
    color: white;
}

h1 {
   text-transform: uppercase;
   font-size: 3rem;
}

.header {
    font-family: 'DM Sans', sans-serif;
}

.title {
    font-family: 'Stint Ultra Condensed', serif;
    font-size: 40px;
}